<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator Sederhana</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="kalkulator">
        <div>
            <input type="number" placeholder="Angka 1" v-model="angka1">
            <input type="number" placeholder="Angka 2" v-model="angka2">
        </div>
        <div>
            <button @click="hasil=angka1+angka2">+</button>
            <button @click="hasil=angka1-angka2">-</button>
            <button @click="hasil=angka1*angka2">x</button>
            <button @click="hasil=angka1/angka2">/</button>
        </div>
        <div>
            Hasil: {{ hasil }}
        </div>
    </div>

    <script src="calc.js"></script>
</body>
</html>